.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
  margin-bottom: 33vh;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  }

  .drum-pad {
   border: 5px solid rgb(121, 122, 128);
   background-color: darkgray;
   width: 150px;
   height: 150px;
   text-align: center;
   line-height: 150px;
   font-size: 50px;
   font-family: 'Orbitron', sans-serif;
   color:rgb(142, 231, 233);
  };
